<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


    <session-factory>
<mapping class="School.entity.Departement"/>
<mapping class="School.entity.Teacher"/>
<mapping class="School.entity.Student"/>
<mapping class="School.entity.Subject"/>
<mapping class="School.entity.Evaluation"/>
<mapping class="School.entity.EvaluationId"/>
<mapping class="School.entity.Grade"/>
    </session-factory>

</hibernate-configuration>